* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #8F9BB4;
}
body {
    background: var(--primary-color);
    color: #8F9BB4;
    overflow: overlay;
}
:root {
    --primary-color: #e6eef8;
    --secondary-color: #cf4545;
    --light-neu-color: #ffffff;
    --dark-neu-color: #BCCAE4;
}
/* Nav */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--primary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:  2px 2px 10px var(--dark-neu-color), -5px -5px 5px var(--light-neu-color);
}
/* dark theme */
.logo { 
    display: flex;
    align-items: center;
}
.dark-theme {
    --primary-color: #22232D;
    --light-neu-color: #323443;
    --dark-neu-color: #121217;
}
.checkbox {
    display: none;
}
.checkbox:checked + .dark .ball{
    transform: translateX(24px);
}
.dark_theme_wrapper {
    margin: 10px;
}
.dark {
    padding: 5px;
    width: 50px;
    height: 26px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow:  4px 4px 10px var(--dark-neu-color),  4px 4px 10px var(--light-neu-color);
}
.theme_icon {
    color: var(--secondary-color);
    padding: 2px;
}
.ball {
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    transition: 200ms;
    background: var(--light-neu-color);
    
}
/* Dark Theme */
/* Searchbar */
.search {
    height: 50px;
    max-width: 800px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0px 1.2em;
    box-shadow: inset 2px 2px 5px var(--dark-neu-color),  inset -2px -2px 5px var(--light-neu-color);
}
input {
    color: #748096;
    font-size: 15px;
    padding-left: 10px;
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
::placeholder {
    color: #8F9BB4;
}
/* Searchbar */
/* profile */
.fa-bell {
    margin-right: 15px;
}
.fa-bell:hover {
    cursor: pointer;
    color: #cf4545;
    transition: 200ms;
}
.notification_modal_background {
    width: 100%;
    height: 100%;
    z-index: 6;
    position: fixed;
    background: #0f0f13d3;
    display: none;
    cursor: pointer;
}
.notification_modal {
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    color: #8E9BB4;
    position: absolute;
    max-height: 500px;
    max-width: 300px;
    top: 50%; 
    left: 50%;
    z-index: 30;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
}
.notification_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close_notifi {
    padding: 7px 10px 5px 10px;
    border-radius: 50px;
    box-shadow:  5px 5px 14px var(--dark-neu-color),  -5px -5px 14px var(--light-neu-color);
}
.close_notifi:hover {
    color: #cf4545;
    cursor: pointer;
    transition: 400ms;
    box-shadow:  1px 1px 10px var(--dark-neu-color),  -1px -1px 10px var(--light-neu-color);
}
.notifi_dates p{
    font-size: 13px;
}
.notifications {
    font-size: 13px;
    display: flex;
    margin: 0.5em 5px;
    padding: 1em 0px;
    border-top: var(--dark-neu-color) 1px solid;
}
.notifi_name {
    display: flex;
    line-height: 1.3em;
    align-items: center;
}
.notifi_name span {
    font-weight: bold;
}
.notifi_profile {
    margin-right: 10px;
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
    overflow: hidden;
    border-radius: 50px;
    border: var(--primary-color) solid 3px;
    box-shadow:  5px 5px 14px var(--dark-neu-color),  -5px -5px 14px var(--light-neu-color);
}
.notifi_profile img, .notifi_video img, .notifi_doc img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.notification_footer a {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.notification_footer a:hover {
    transition: 300ms;
    color: #cf4545;
}
.notifi_video {
    margin-right: 10px;
    min-width: 80px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    border: var(--primary-color) solid 3px;
    box-shadow:  5px 5px 14px var(--dark-neu-color),  -5px -5px 14px var(--light-neu-color);
}
.notifi_doc {
    margin-right: 10px;
    min-width: 50px;
    height: 70px;
    overflow: hidden;
    border-radius: 10px;
    border: var(--primary-color) solid 3px;
    box-shadow:  5px 5px 14px var(--dark-neu-color),  -5px -5px 14px var(--light-neu-color);
}
.nav_profile_drop {
    display: flex;
    align-items: center;
}
.nav_profil {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-profile-image {
    width: 50px;
    cursor: pointer;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    border: var(--primary-color) solid 3px;
    box-shadow:  5px 5px 14px var(--dark-neu-color),  -5px -5px 14px var(--light-neu-color);
}
.nav-profile-image:hover {
    color: #cf4545;
    transition: 500ms;
    border: var(--secondary-color) solid 3px;
    box-shadow:  1px 1px 10px var(--dark-neu-color),  -1px -1px 10px var(--light-neu-color);
}
.nav-profile-image  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile_dropdown {
    display: none;
    margin: 0px 10px 10px 0px;
    top: 10;
    right: 100;
    z-index: 5;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow:  2px 2px 10px var(--dark-neu-color), -5px -5px 5px var(--light-neu-color);
}
.profile_dropdown ul li {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}
.profile_dropdown li:last-child{
    border-top: solid 1px var(--dark-neu-color);
    color: #cf4545;
}
.profile_dropdown li a:hover{
    color: #cf4545;
}
/* profile */
.left_items, .user_name {
    display: flex;
    align-items: center;
}
.user_name h5 {
    padding-right: 10px;
    display: none;
}
/* Nav */

.arrowback {
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}


/* Video Player */
.video-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3em auto;
}
.video_wrapper {
    display: flex;
    margin: auto;
    width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video_player {
    margin-bottom: 1em;
    width: 100%;
    height: 220px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}

.outer_bar {
    background: var(--dark-neu-color);
    box-shadow:  5px 5px 14px var(--dark-neu-color),  -5px -5px 14px var(--light-neu-color);
    height: 7px;
    border-radius: 20px;
    overflow: hidden;
}
.inner_bar {
    height: 100%;
    border-radius: 50px;
}

.progress_bar_one {
    transition: 300ms;
    background: linear-gradient(90deg, #fd9271, #F9516D 100%);
}
.progressAreaTime {
    position: absolute;
    left: var(--x);
    transform: translateX(-50%);
    bottom: 60px;
    width: 60px;
    text-align: center;
    padding: 5px 10px;
    color: #8F9BB4;
    font-size: 14px;
    background: var(--primary-color);
    border-radius: 20px;
    z-index: 1;
    display: none;
    cursor: pointer;
}
.progressAreaTime::before {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 15px;
    height: 15px;
    z-index: -1;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    transition: 300ms;
    transform: translateY(0px);
    background: var(--primary-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.control-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls-left, .controls-right {
    display: flex;
    align-items: center;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play_pause {
    width: 20px;
    margin: auto;
    text-align: center;
}
.icon {
    font-size: 15px;
    margin: 10px 10px 0px 10px;
}
.icon:hover {
    color: #cf4545;
    cursor: pointer;
    transition: 300ms;
}


.playBtn {
    display: block;
}
.pauseBtn {
    display: none;
}

.volume {
    width: 30px;
    display: block;
}
.volumeNone {
    width: 30px;
    display: none;
}
.volume_wrapper {
    display: flex;
    align-items: center;
}
.volume_range {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 3px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #cf4545;
    background: #8F9BB4;
    transition: 300ms;
}
.volume_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: #8F9BB4;
    width: 12px;
    height: 12px;
    border: none;
    outline: none;
}
.volume_wrapper:hover .volume_range {
    display: inline-block;
    pointer-events: auto;
}
.volume_wrapper:hover .volume_range{
    opacity: 1;
    width: 60px;
    transition: 300ms;
}

.timer {
    padding: 10px 5px 0px 5px;
    font-size: 14px;
}
.timer span {
    display: inline-block;
    text-align: center;
    width: 50px;
}

.settings {
    background: var(--primary-color);
    border-radius: 20px;
    position: absolute;
    right: 25px;
    bottom: 62px;
    width: 200px;
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    display: none;
}
.playback span {
    font-size: 12px;
}
.playback ul li{
    margin-top: 1em;
    width: 100%;
    cursor: pointer;
    padding: 10px 33px;
    display: block;
    border-radius: 15px;
}
.playback ul li:hover {
    background: var(--dark-neu-color);
    transition: 300ms;
    color: #cf4545;
}
/* Video Player */

/* Comment */
.comment-wrapper {
    margin: auto;
    display: flex;
    align-items: flex-start;
}
.commentMain {
    display: none;
}
.hideComments {
    display: none;
}
.comment-body {
    border-right: 1px solid var(--dark-neu-color);
    padding-right: 10px;
}
.commentHeader {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.showcomment {
    padding: 10px 9px;
    border-radius: 50%;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.showcomment:hover {
    color: #cf4545;
    transition: 300ms;
    cursor: pointer;
    box-shadow:  2px 2px 5px var(--dark-neu-color), -2px -2px 5px var(--light-neu-color);
}
.comment {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    max-width: 350px;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 20px;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.comment-flex {
    display: flex;
    flex-direction: column;
}
.comment-footer-flex {
    display: flex;
}
.comment_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-footer-item {
    display: flex;
    margin: 5px 15px 5px 0px;
    font-size: 14px;
}
.comment-footer-item i {
    margin-right: 7px;
}
.reply:hover {
    cursor: pointer;
    color: #cf4545;
    transition: 300ms;
}
.comment_profile, .create-comment-profile {
    margin-right: 10px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.comment_profile img, .create-comment-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.create-comment {
    display: flex;
    align-items: flex-start;
}
.comment_body h5 {
    padding-bottom: 5px;
}
.showhideComment {
    padding: 11px 10px 10px 10px;
    margin: 1em;
    border-radius: 50%;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.showhideComment:hover {
    color: #cf4545;
    transition: 300ms;
    cursor: pointer;
    box-shadow:  2px 2px 5px var(--dark-neu-color), -2px -2px 5px var(--light-neu-color);
}
/* Comment */

/* Main video attribute */
.main-video-attributes {
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
}
.main-video-title {
    margin-bottom: 0.5em;
}
.main-video-views {
    display: flex;
}
.main-video-views p {
    margin-right: 20px;
}
.main-video-footer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-footer {
    display: flex;
}
.main-video-profile {
    display: flex;
    align-items: center;
}
.video-profile {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
    border: var(--primary-color) 3px solid;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.main-video-icon {
    margin: 10px;
}
.main-video-icon i {
    font-size: 18px;
}
.main-video-icon p {
    padding-top: 5px;
    font-size: 13px;
}

.TextareaModal {
    max-width: 100%;
    width: 100%;
    margin-top: 1.5em;
    max-height: 150px;
    box-shadow: inset 2px 2px 5px var(--dark-neu-color),  inset -2px -2px 5px var(--light-neu-color);
}
textarea {
    background: none;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 20px;
}

.image_attribute {
    width: 100%;
}
.thumbs:hover {
    color: #cf4545;
    cursor: pointer;
    transition: 300ms;
}
/* Main video attribute */

/* Playlist videos */
.video-playlist {
    width: 100%;
}
.playlistHeader {
    line-height: 1.5em;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary-color);
}
.playlist-title p {
    color: #cf4545;
}
.hideplaylist, .showplaylist {
    font-size: 18px
}
.hideplaylist:hover, .showplaylist:hover {
    cursor: pointer;
    color: #cf4545;
    transition: 300ms;
}
.playlist-scroll {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    align-items: flex-start;
}
.playlist-scroll::-webkit-scrollbar {
    display: none;
}
  
.playlist-item {
    min-width: 168px;
    max-width: 168px;
    margin: 11px;
}
.playlist-item-preview {
    width: 100%;
    height: 94px;
    margin-bottom: 8px;
    border-radius: 20px;
    overflow: hidden;
    border: var(--primary-color) 3px solid;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.playlist-item-preview:hover {
    cursor: pointer;
    transition: 400ms;
    box-shadow:  2px 2px 5px var(--dark-neu-color), -2px -2px 5px var(--light-neu-color);
}
.playlist-item {
    margin-top: 10px;
    line-height: 1.3em;
    font-size: 14px;
}
.selected {
    border: #cf4545 3px solid;
}
/* Playlist videos */


/* Related Content */
.related-content-wrapper {
    margin-top: 2em;
}
.related-content-header {
    text-align: center;
    margin: 1em 0px;
}
.related-content-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.related-video-item {
    margin: 1em;
    width: 275px;
}
.video-attribute-header {
    display: flex;
}
.related-video-title {
    width: 100%;
}
.related-video-title p {
    font-size: 14px;
    padding: 5px 0px 10px 0px;
}
.video-attribute-body {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.related-video-preview {
    width: 275px;
    height: 155px;
    overflow: hidden;
    border-radius: 20px;
    border: var(--primary-color) 3px solid;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.related-video-preview:hover {
    cursor: pointer;
    transition: 300ms;
    border: var(--secondary-color) 3px solid;
    box-shadow:  2px 2px 5px var(--dark-neu-color), -2px -2px 5px var(--light-neu-color);
}
.related-user-profile {
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
    border: var(--primary-color) 3px solid;
    box-shadow:  5px 5px 10px var(--dark-neu-color), -5px -5px 10px var(--light-neu-color);
}
.related-video-preview img, .related-user-profile img, .playlist-item-preview img, .video-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.related-video-attribute {
    margin-top: 15px;
    font-size: 16px;
}
/* Related Content */




@media only screen and (min-width: 634px) {
    .video-content-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .video_wrapper {
        width: 495px;
        margin: auto;
    }
    .video_player {
        height: 259px;
    }
    .icon {
        font-size: 18px;
    }
    .timer {
        font-size: 16px;
    }
}
@media only screen and (min-width: 926px) {
    .video-content-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 95%;
        margin: 3em auto;
    }
    .video_wrapper {
        width: 500px;
        margin: 0px;
        margin-right: 1em;
        justify-content: flex-start;
    }
    .video_player {
        height: 300px;
    }
    .comment-wrapper {
        margin: 0px;
    }
}
@media only screen and (min-width: 1100px) {
    .video-content-wrapper {
        width: 95%;
    }
    .video_wrapper {
        width: 700px;
        margin: 0px;
        margin-right: 1em;
        justify-content: flex-start;
    }
    .video_player {
        height: 390px;
    }
    .comment-wrapper {
        margin: 0px;
    }
    .comment {
        max-width: 400px;
    }
}