@keyframes slide {
  from {
    transform: translateX(20%);
    opacity: 0;
   
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes modalOpen {
  from {
    transform: translateY(20%);
    opacity: 0;
   
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
